body {
  height: 100vh;
  background-color: #282c34;

  /* opacity: 0;
  animation: fadeIn 1s 0s ease forwards; */
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#root {
  height: 100%;
}


.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;

  opacity: 0;
  animation: fadeIn 0.5s 0s ease forwards;
}

.main {
  opacity: 0;
  animation: fadeIn 0.5s 0s ease forwards;
}

.backToDashboard-btn {
  cursor: pointer;
  padding: 6px 8px;
  margin: 5px;

  background-color: transparent;

  border: 0px solid #f1f2f5;
  border-radius: 5px;
  color: #f1f2f5;

  transition: all 0.3s;
}
.backToDashboard-btn:hover {
  opacity: 0.8;
}


main {
  flex: 1;

  align-items: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}



p {margin: 0;}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  /* background-color: #282c34; */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.projectRowList {
  width: 90%;
  background-color: white;
  color: black;
  margin: 10px;
  border-radius: 4px;
  text-align: left;
  padding: 5px 15px;
}

.projectRow {
  margin: 7px auto;
  padding: 15px;
  border-radius: 7px;
  border: 1px solid #ebdddd;
  background-color: #aebaf5;

  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.taskCard {
  cursor: pointer;
  margin: 7px auto;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ebdddd;
  background-color: #aebaf5;

  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: -webkit-fill-available;

  transition: all 0.3s;
}
.taskCard:hover {
  transform: scale(1.04);
  border-color: #ffffff;
}

.taskCard-primary {
  background-color: gold;
}


.taskListContent {
  border-top: 1px solid #858585;
  padding-top: 15px;
}

.taskCard-secondary {

}

.taskCard-completed {
  filter: brightness(0.8);

  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.tasksLists {
  padding: 15px;
  background-color: #373c47;
  height: fit-content;
  border-radius: 5px;

  flex: 1;
}


.taskListHeader {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  margin: 0 0 11px 0;

  color: #f1f2f5;
}

.projectPageHeader {
  width: 90%;
  margin: 15px auto;
  background-color: #373c47;
  color: #f1f2f5;
  padding: 10px 15px;
  border-radius: 6px;
}

.projectPageHeader-title {
  margin: 5px auto 10px auto;
}


.tasksListsContainer {
  display: inline-flex;
  gap: 10px;
  margin: 20px auto;
  width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
}

.dashboard-sectionTitle {
  width: 100%;
  text-align: left;
}

.dashboard-section {
  width: 70%;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
}


.tasksListsTitle {
  margin: 0 0 0px 0;

  color: #f1f2f5;
}


.taskDetail-modal {
  position: absolute;
  z-index: 99999;

  width: 80%;
  height: 80%;

  padding: 8px 15px 15px 15px;

  left: 50%;
  top: 50%;
  

  border-radius: 7px;

  border: 1px solid rgb(153, 153, 153);
  background-color: #282c34;
  color: #f1f2f5;

  opacity: 0;
  transform: translate(-50%, -50%) scale(0.7);
  animation: fadeInModal 0.4s ease forwards;
}
@keyframes fadeInModal {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.7);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.taskDetail-modal-fadeOut {
  animation: fadeOutModal 0.3s ease forwards;
}
@keyframes fadeOutModal {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.7);
  }
}



.taskDetail-modal-header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.taskDetail-modal-closeBtn {
  cursor: pointer;
  font-size: 1.4em;

  transition: all 0.4s;
}
.taskDetail-modal-closeBtn:hover {
  opacity: 0.8;
  /* transform: rotate(90deg); */
}

.taskList-addBtn {
  cursor: pointer;
  font-size: 1.4em;
  color: cyan;

  transition: all 0.4s ease;
}
.taskList-addBtn:hover {
  color: greenyellow;
  transform: scale(1.2);
}

.main-withoutModal {
  transition: all 0.3s;
}

.main-withoutModal-blurred {
  opacity: 0.5;
  filter: blur(1px);
}

.taskRowList {
  width: 90%;
  background-color: white;
  color: black;
  margin: 10px;
  border-radius: 4px;
  text-align: left;
  padding: 5px 15px;
}

.taskRow {
  margin: 7px auto;
  padding: 15px;
  border-radius: 7px;
  border: 1px solid #ebdddd;
  background-color: #aebaf5;

  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: -webkit-fill-available;
}